/* IMPORTED FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Love+Light&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* ================GENERAL STYLES ============================ */
:root {
  --normalBlack: #222222;
  --lightGray: #555555;
  --lighterGray: #c1c1cc;
  --white: #fff;
  --accentColor: #ff5722;
  --redAccent: #d00713;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  color: var(--normalBlack);
  line-height: 1.6;
  font-size: 1rem;
  font-family: "Lato", serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
}

.btn {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--lightGray);
  border: 0;
  text-transform: capitalize;
}
.btn.active {
  color: var(--white);
  background-color: var(--accentColor);
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

/* ================NAVIGATION GOES HERE👇👇(please remove or adjust the margin in the hero section. thanks) ============================ */

/* ================HERO SECTION  ============================ */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.3rem;
  margin-top: 5rem;
}

.search {
  margin-top: 2rem;
}
.search,
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--lightGray);
}
.search-box {
  position: relative;
  width: 50%;
  input {
    padding: 8px 13px;
    border: 1px solid var(--lighterGray);
    border-radius: 30px;
    outline: none;
    width: 100%;
  }
  input::placeholder {
    color: var(--lightGray);
  }
  i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 0.9rem;
    background-color: var(--accentColor);
    color: var(--white);
    padding: 5px;
    border-radius: 50%;
  }
}
#filter {
  cursor: pointer;
}
.buttons-selection {
  margin: 2rem 0;
  padding: 0 3.75rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* ================SPECIAL SECTION  ============================ */

#special {
  height: 60vh;
  background: url(./assets/Widgets.png);
  background-size: cover;
  margin-bottom: 3rem;
}
#featured-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper {
  padding: 1.2rem;
  width: 429px;
}
.wrapper-head {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.wrapper-head .btn {
  font-weight: 700;
  font-size: 1rem;
  line-height: 56px;
  letter-spacing: 1.2%;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  text-transform: uppercase;
  color: var(--accentColor);
}
.wrapper-body {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
.card {
  padding: 0.6rem;
  width: 190px;
}
.card-head {
  width: 170px;
  height: 226px;
}
.card-head img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card,
.card-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.review i {
  color: var(--normalBlack);
}
.review small {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--lighterGray);
}
.discription {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--lightGray);
}
.price {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--lighterGray);
}

/* ================ABOUT SECTION  ============================ */
